{{ define "main" }}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ .Page.Params.image }}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-11 mx-auto">
				<div class="page-heading">
					<h1>{{ .Page.Title }}</h1>
					{{ with .Page.Description }}<span class="subheading">{{ . }}</span>{{ end }}
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-9 col-md-11 mx-auto">
			{{ .Content }}
		</div>
	</div>
</div>

{{ end }}
