<hr>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-11 mx-auto">
				<ul class="list-inline text-center">
					<li class="list-inline-item">
						<a href="/feed.xml">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fas fa-rss fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://twitter.com/ItalyPaleAle">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://github.com/ItalyPaleAle">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-github fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://linkedin.com/in/alessandrosegala">
							<span class="fa-stack fa-lg">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
				</ul>
				<p class="copyright text-muted">
					Copyright ©{{ dateFormat "2006" now }} Alessandro Segala.<br />
					Unless otherwise noted, all blog posts, photos, graphics, presentations and other media are published under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial</a> license. Unless otherwise noted, all code snippets are available under the <a rel="license" href="https://spdx.org/licenses/Unlicense.html">Unlicense</a>.<br />
					This website is <a href="https://github.com/ItalyPaleAle/WithBlueInk">open source</a>.</p>
			</div>
		</div>
	</div>
</footer>

{{ partial "google-analytics" . }}

<!-- JavaScript -->
{{ $jquery := resources.Get "vendor/jquery.slim.js" }}
{{ $popperJsLicense := resources.Get "js/popperjs-license.js" }}
{{ $popperJs := resources.Get "vendor/popper.js" }}
{{ $bootstrapLicense := resources.Get "js/bootstrap-license.js" }}
{{ $bootstrapUtil := resources.Get "vendor/util.js" }}
{{ $bootstrapCollapse := resources.Get "vendor/collapse.js" }}
{{ $bootstrapTooltip := resources.Get "vendor/tooltip.js" }}
{{ $cleanBlog := resources.Get "js/clean-blog.js" }}
{{ $js := slice $jquery $popperJsLicense $popperJs $bootstrapLicense $bootstrapUtil $bootstrapTooltip $cleanBlog | resources.Concat "js/bundle.js" | resources.Minify }}
{{ $jsFingerprint := $js | resources.Fingerprint "sha512" }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $jsFingerprint.Data.Integrity }}" crossorigin="anonymous"></script>
