{{ if and (not (eq .Page.Params.noCover true)) .Page.Params.resourceBundle }}

    {{ $coverBgColor := (index .Page.Params "coverColor" | default "#4299E1") }}
    {{ $coverBg := printf "background-color: %s;" $coverBgColor }}

    {{/* Try webp images first, then jpg and png */}}
    {{ $res := resources.Get (printf "images/%s/_cover.webp" .Page.Params.resourceBundle) }}
    {{ if not $res }}
        {{ $res = resources.Get (printf "images/%s/_cover.jpg" .Page.Params.resourceBundle) }}
    {{ end }}
    {{ if not $res }}
        {{ $res = resources.Get (printf "images/%s/_cover.png" .Page.Params.resourceBundle) }}
    {{ end }}

    {{/* Set the cover image if found */}}
    {{ if $res }}
        {{ $coverBg = printf "background-image: url('%s');" $res.RelPermalink }}
    {{ end }}

    <div class="mb-6 cover-image" style="{{ $coverBg | safeCSS }}">
        <section class="container flex flex-col justify-center h-full py-16 text-white text-shadow-xl">
            {{- if eq .Page.Type "posts"}}
                <h1 class="text-5xl font-bold md:text-6xl">{{ .Page.Title }}</h1>
                {{ with .Page.Description }}<div class="mt-4 text-2xl font-bold md:text-3xl">{{ . }}</div>{{ end }}
            {{- else if eq .Page.Kind "home" -}}
                <h1 class="font-bold text-center text-7xl">{{ .Page.Title }}</h1>
            {{- else -}}
                <h1 class="text-6xl font-bold text-center">{{ .Page.Title }}</h1>
                {{ with .Page.Description }}<div class="mt-4 text-4xl font-bold text-center">{{ . }}</div>{{ end }}
            {{- end -}}
        </section>
    </div>

{{ else }}

    <section class="container pt-6 pb-4">
        <h1 class="text-4xl font-bold">{{ .Page.Title }}</h1>
        {{ with .Page.Description }}<div class="mt-2 text-2xl font-bold">{{ . }}</div>{{ end }}
    </section>

{{ end }}
