<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Social -->
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ page.description }}{% endif %}" />
    <meta property="og:image" content="{% if page.header-img %}{{ page.header-img | prepend: '/' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.header-img | prepend: '/' | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
    <meta property="fb:app_id" content="805968969565472" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ItalyPaleAle" />
    <meta name="twitter:creator" content="@ItalyPaleAle" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ page.description }}{% endif %}" />
    <meta name="twitter:image" content="{% if page.header-img %}{{ page.header-img | prepend: '/' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.header-img | prepend: '/' | prepend: site.baseurl | prepend: site.url }}{% endif %}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/clean-blog.min.css" | prepend: site.baseurl }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
