{{ define "main"}}
  <!-- Page Header -->
  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11 mx-auto">
          <div class="page-heading">
            <h1>{{ .Page.Title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-11 mx-auto">
        <p>The page you're looking for doesn't exist</p>
      </div>
    </div>
  </div>
{{ end }}