/* Using the Mono variant that doesn't include ligatures */
@font-face {
    font-family: 'Cascadia Mono';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Cascadia Mono'),
        local('Cascadia-Mono'),
        url(../fonts/CascadiaMono-2106.17.woff2) format('woff2'),
        url(../fonts/CascadiaMono-2106.17.ttf) format('truetype');
    text-rendering: optimizeLegibility;
}
