@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Merriweather 96pt Regular'),
        local('Merriweather-96ptRegular'),
        local('Merriweather-96pt-Regular'),
        local('Merriweather Display Regular'),
        local('Merriweather-DisplayRegular'),
        local('Merriweather-Display-Regular'),
        url(../fonts/Merriweather-96ptRegular-770ebd6.woff2) format('woff2'),
        url(../fonts/Merriweather-96ptRegular-770ebd6.ttf) format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Merriweather 96pt Italic'),
        local('Merriweather-96ptItalic'),
        local('Merriweather-96pt-Italic'),
        local('Merriweather Display Italic'),
        local('Merriweather-DisplayItalic'),
        local('Merriweather-Display-Italic'),
        url(../fonts/Merriweather-96ptItalic-770ebd6.woff2) format('woff2'),
        url(../fonts/Merriweather-96ptItalic-770ebd6.ttf) format('truetype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Merriweather 96pt Bold'),
        local('Merriweather-96ptBold'),
        local('Merriweather-96pt-Bold'),
        local('Merriweather Display Bold'),
        local('Merriweather-DisplayBold'),
        local('Merriweather-Display-Bold'),
        url(../fonts/Merriweather-96ptBold-770ebd6.woff2) format('woff2'),
        url(../fonts/Merriweather-96ptBold-770ebd6.ttf) format('truetype');
    text-rendering: optimizeLegibility;
}
