/* Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fonts */
@import "font-cascadia-code.css";
@import "font-lato.css";
@import "font-merriweather.css";

/* Toggle menu with CSS */
input#nav-toggle:checked~label#show-button {
    display: none;
}
input#nav-toggle:checked~label#hide-button {
    display: flex;
}
input#nav-toggle:checked~#nav-menu {
    display: block;
}

/* Text selection */
::selection {
    background-color: #319795; /* teal-600 */
    color: white;
}

/* Full-width, tall image */
.cover-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.cover-image .container {
    min-height: 22rem;
}

@media (min-width: 768px) {
    /* Medium (md) or higher */
    .cover-image .container {
        min-height: 30rem;
    }
}
