/* Light theme */
.theme-light {
    --color-background: #FFFFFF; /* white */ 

    --color-border: #EDF2F7; /* gray-200 */

    --color-shade-100: #CBD5E0; /* gray-400 */
    --color-shade-200: #A0AEC0; /* gray-500 */
    --color-shade-300: #718096; /* gray-600 */
    --color-shade-400: #4A5568; /* gray-700 */
    --color-shade-500: #2D3748; /* gray-800 */
    --color-shade-600: #1A202C; /* gray-900 */

    --color-accent-100: #4299E1; /* blue-500 */
    --color-accent-200: #3182CE; /* blue-600 */
    --color-accent-300: #2C5282; /* blue-800 */

    --color-altaccent-300: #742A2A; /* red-900 */

    --color-selection-bg: #319795; /* teal-600 */
    --color-selection-text: #FFFFFF; /* white */

    /* For the GitHub icon in the footer */
    --color-github-bg: #181717;
    --color-github-fill: #ffffff;

    /* Chroma theme: monokailight (https://github.com/alecthomas/chroma/blob/master/styles/monokailight.go) */
    --chroma-text:                  #272822;
	--chroma-error:                 #960050;
	--chroma-error-background:      #1e0010;
	--chroma-comment:               #75715e;
	--chroma-keyword:               #00a8c8;
	--chroma-keyword-namespace:     #f92672;
	--chroma-line-highlight:        #ffffcc;
	--chroma-line-numbers:          #7f7f7f;
	--chroma-operator:              #f92672;
	--chroma-punctuation:           #111111;
	--chroma-name:                  #111111;
	--chroma-name-attribute:        #75af00;
	--chroma-name-class:            #75af00;
	--chroma-name-constant:         #00a8c8;
	--chroma-name-decorator:        #75af00;
	--chroma-name-exception:        #75af00;
	--chroma-name-function:         #75af00;
	--chroma-name-other:            #75af00;
	--chroma-name-tag:              #f92672;
	--chroma-literal:               #ae81ff;
	--chroma-literal-date:          #d88200;
	--chroma-literal-number:        #ae81ff;
	--chroma-literal-string:        #d88200;
	--chroma-literal-string-escape: #8045ff;
	--chroma-background:            #fafafa;
}

/* Dark theme */
.theme-dark {
    --color-background: #12161C; /* custom, based on gray-900 */ 

    --color-border: #2D3748; /* gray-800 */

    --color-shade-100: #1A202C; /* gray-900 */
    --color-shade-200: #EDF2F7; /* gray-200 */
    --color-shade-300: #E2E8F0; /* gray-300 */
    --color-shade-400: #CBD5E0; /* gray-400 */
    --color-shade-500: #A0AEC0; /* gray-500 */
    --color-shade-600: #718096; /* gray-600 */

    --color-accent-100: #2C5282; /* blue-800 */
    --color-accent-200: #3182CE; /* blue-600 */
    --color-accent-300: #4299E1; /* blue-500 */

    --color-altaccent-300: #E53E3E; /* red-600 */

    --color-selection-bg: #285E61; /* teal-800 */
    --color-selection-text: #FAFAFA; /* off-white */

    /* For the GitHub icon in the footer */
    --color-github-bg: #FAFAFA;
    --color-github-fill: #181717;

    /* Chroma theme: monokai (https://github.com/alecthomas/chroma/blob/master/styles/monokai.go) */
    --chroma-text:                  #f8f8f2;
	--chroma-error:                 #960050;
	--chroma-error-background:      #1e0010;
	--chroma-comment:               #75715e;
	--chroma-keyword:               #66d9ef;
	--chroma-keyword-namespace:     #f92672;
	--chroma-line-highlight:        #ffffcc;
	--chroma-line-numbers:          #7f7f7f;
	--chroma-operator:              #f92672;
	--chroma-punctuation:           #f8f8f2;
	--chroma-name:                  #f8f8f2;
	--chroma-name-attribute:        #a6e22e;
	--chroma-name-class:            #a6e22e;
	--chroma-name-constant:         #66d9ef;
	--chroma-name-decorator:        #a6e22e;
	--chroma-name-exception:        #a6e22e;
	--chroma-name-function:         #a6e22e;
	--chroma-name-other:            #a6e22e;
	--chroma-name-tag:              #f92672;
	--chroma-literal:               #ae81ff;
	--chroma-literal-date:          #e6db74;
	--chroma-literal-number:        #ae81ff;
	--chroma-literal-string:        #e6db74;
	--chroma-literal-string-escape: #ae81ff;
	--chroma-generic-deleted:       #f92672;
	--chroma-generic-inserted:      #a6e22e;
	--chroma-generic-subheading:    #75715e;
	--chroma-background:            #272822;
}

/* Auto theme */
.theme-auto {
    @apply theme-light;
}
@media(prefers-color-scheme: dark) {
    .theme-auto {
        @apply theme-dark;
    }
}
