.theme-light {
    --color-background: #FFFFFF; /* white */ 

    --color-border: #EDF2F7; /* gray-200 */

    --color-shade-100: #CBD5E0; /* gray-400 */
    --color-shade-200: #A0AEC0; /* gray-500 */
    --color-shade-300: #718096; /* gray-600 */
    --color-shade-400: #4A5568; /* gray-700 */
    --color-shade-500: #2D3748; /* gray-800 */
    --color-shade-600: #1A202C; /* gray-900 */

    --color-accent-100: #4299E1; /* blue-500 */
    --color-accent-200: #3182CE; /* blue-600 */
    --color-accent-300: #2C5282; /* blue-800 */

    --color-altaccent-300: #742A2A; /* red-900 */

    --color-selection-bg: #319795; /* teal-600 */
    --color-selection-text: #FFFFFF; /* white */

    /* For the GitHub icon in the footer */
    --color-github-bg: #181717;
    --color-github-fill: #ffffff;
}
