{{ define "main" }}

    {{- $paginator := .Paginate (where .Site.RegularPages "Type" "posts") -}}
    {{- .Scratch.Set "paginator" $paginator -}}

    {{ partial "cover-image.html" . }}

    <!-- Main Content -->
    <div class="container mt-4">
        {{- range $paginator.Pages -}}
            <a href="{{ .RelPermalink }}" class="block pb-4 mb-4 border-b-2 group border-border">
                    <h1 class="mb-1 text-2xl font-bold leading-tight text-accent-300 group-hover:text-accent-200">{{ .Title }}</h1>
                    {{ with .Description }}
                        <h2 class="mb-1 leading-tight group-hover:text-accent-200">{{ . }}</h2>
                    {{ end }}
                {{ with .Date }}
                    <p class="text-shade-300">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="inline-block w-4 h-4 mr-1">
                            <!--Copyright (c) 2016 Dan Klammer: https://github.com/danklammer/bytesize-icons-->
                            <title>Publishing date</title>
                            <circle cx="16" cy="16" r="14" />
                            <path d="M16 8 L16 16 20 20" />
                        </svg>
                        {{ .Format "January 2, 2006" }}
                    </p>
                {{ end }}
            </a>
        {{- end -}}
        {{ partial "page-controls.html" . }}
    </div>

{{ end }}