{{ define "main" }}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../../../{{ .Params.image }}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11 mx-auto">
          <div class="post-heading">
            <h1>{{ .Title }}</h1>
            {{ with .Description }}<h2 class="subheading">{{ . }}</h2>{{ end }}
            <span class="meta">Posted by
              {{ .Params.author }}
              on {{ .Date.Format "January 01, 2006" }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11 mx-auto post-content">
          {{ .Content }}
          {{ partial "article-page-controls.html" . }}
          {{ partial "disqus.html" . }}
        </div>
      </div>
    </div>
  </article>

{{ end }}